{% extends "layout.html" %}
{% block content %}
<h2 class="display-4">Booking</h2>
<hr>
<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Client Name</th>
      <th>Booking Date</th>
      <th>Sales Rep</th>
    </tr>
  </thead>
</table>
<hr>
<button type="button" class="btn btn-info">+ New Booking</button>
{% endblock %}
{% block javascript %}
<!--datatable script-->
<script>
  $(document).ready(function() {
      $('#example').DataTable ({
          "processing": true,
          "ajax": {url: "/PerfectParty/getBooking",type:"GET", dataSrc: "data", "contentType":"application/json"},
          "columns": [
              {data: "ID"},
              {data: "ClientName"},
              {data: "Date"},
              {data: "SalesRep"},
          ],
      } );
      $("#example").css('cursor', 'pointer');

      var table = $('#example').DataTable();

      $('#example tbody').on( 'dblclick', 'tr', function () {
          var row = table.row( this ).data();
          var data1 = {"ID": row.Id,
                       "ClientName": row.ClientName,
                       "Date": row.Date,
                       "SalesRep": row.SalesRep}
          console.log(JSON.stringify({"args": data1}));
          var data = $.ajax({
              type:'POST',
              url: "/PerfectParty/postbook",
              data: {args:JSON.stringify(data1)},
              success: function(resultData) {
                  console.log("load in successful")
              }
          });
      } );

      $('#button').click( function () {
          table.row('.selected').remove().draw( false );
      } );
  } );

</script>
{% endblock %}
