{% extends "layout.html" %}
{% block content %}
<h2 class="display-4">Booking</h2>
<hr>
<table id="client" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Client Name</th>
      <th>Booking Date</th>
      <th>Sales Rep</th>
      <th>Event Date</th>
      <th>Venue</th>
    </tr>
  </thead>
</table>
<hr>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newBooking">+ New Booking</button>
<button type="button" class="btn btn-success" style="padding-left:15px, padding-right=15px;" id="editform">View</button>
<!-- <button type="button" class="btn btn-danger float-right" style="padding-left:15px; padding-right=15px;" id="deleteform">Delete</button> -->
<div class="modal fade" id="newBooking" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="{{ url_for('pages.add_booking') }}" method="post">
          <div class="form-group">
            <label class="control-label col-sm-3" for="type">Name:</label>
            <div class="col-sm-10">
              <input type="text" required="required" class="form-control" id="type" name="type" placeholder="Smith's Wedding">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-5" for="guests">Number of Guests:</label>
            <div class="col-sm-10">
              <input type="text" required="required" class="form-control" id="guests" name="guests" placeholder="0">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="budget">Budget:</label>
            <div class="col-sm-10">
              <input type="text" required="required" class="form-control" id="budget" name="budget" placeholder="Budget (in CAD)">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="date">Date:</label>
            <div class="col-sm-10">
              <input type="text" class="datepicker" name="date">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-9">Venue:</label>
            <div class="col-sm-10">
              <select class="form-control" name="venue_id" required="required">
                <option value="" disabled selected>Select your option</option>
                {% for venue in venues %}
                <option value="{{ venue['venue_id'] }}">{{ venue['venue_name'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-9">Client:</label>
            <div class="col-sm-10">
              <select class="form-control" name="client_id" required="required">
                <option value="" disabled selected>Select your option</option>
                {% for client in clients %}
                <option value="{{ client['client_id'] }}">{{ client['client_name'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="sales_rep">Sales Rep:</label>
            <div class="col-sm-10">
              <input type="text" required="required" class="form-control" id="sales_rep" name="sales_rep" placeholder="Frank Xu">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding:5px 20px;">Cancel</button>
        <!-- <button type="button" class="btn btn-primary" style="padding:5px 20px;" onclick="window.location.href='/PerfectParty'">Add</button> -->
        <input type="submit" class="btn btn-primary" value="Submit"/>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<!--datatable script-->
<script>
  $(document).ready(function() {
      var editable = 0;
      var row_data = 0;
      $('#client').DataTable ({
          "processing": true,
          "ajax": {url: "/PerfectParty/getBooking",type:"GET", dataSrc: "data", "contentType":"application/json"},
          "columns": [
              {data: "ID"},
              {data: "ClientName"},
              {data: "Date"},
              {data: "SalesRep"},
              {data: "EventDate"},
              {data: "VenueName"},
          ],
      } );
      $("#client").css('cursor', 'pointer');
      var table = $('#client').DataTable();

      $('#button').click( function () {
          table.row('.selected').remove().draw( false );
      } );

      $('#client tbody').on( 'click', 'tr', function () {
          if ( $(this).hasClass('selected') ) {
              editable = 0;
              row_data = 0;
              $(this).removeClass('selected');
          }
          else {
              row_data = table.row( this ).data();
              table.$('tr.selected').removeClass('selected');
              $(this).addClass('selected');
              editable = 1
          }
      } );

      $('#button').click( function () {
          table.row('.selected').remove().draw( false );
      } );

      $('#editform').click(function() {
          if (editable == 0) {
              alert('Please select a entry to edit');
          }
          else {
              window.location.href =  "{{ url_for('pages.get_book') }}?booking_id=" + row_data.ID;
          }
      });

      $('#deleteform').click(function() {
          if (editable == 0) {
              alert('Please select a entry to delete');
          }
          else {
              $('#delete').modal('show');
              document.getElementById('delete-id').value=row_data.ID;
          }
      });
  } );

</script>
{% endblock %}
