{% extends "layout.html" %}
{% block content %}
<h2 class="display-4">Client</h2>
<hr>
<div class="row"></div>
<div class="container-fluid">
    <table id="client" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Client Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Country</th>
            <th>Postal Code</th>
        </tr>
        </thead>
    </table>
    <hr>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newClient">+ New Client</button>
    <button type="button" class="btn btn-success" style="padding-left:15px, padding-right=15px" id="editform">Edit
    </button>
    <div class="modal fade" id="newClient" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">New Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{{ url_for('pages.add_client') }}" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="name" name="name"
                                       placeholder="Feridun Hamdullahpur">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="address">Address:</label>
                            <div class="col-sm-10 form-inline">
                                <input type="text" required="required" class="form-control col-sm-3" id="str-num"
                                       name="str-number" placeholder="Number">
                                <input type="text" required="required" class="form-control col-sm-7" id="str-name"
                                       name="str-name" placeholder="Street">
                                <input type="text" class="form-control col-sm-2" id="unit" name="unit"
                                       placeholder="Unit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="postal">Postal Code:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="postal" name="postal"
                                       placeholder="N2L 3G1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="city">City:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="city" name="city"
                                       placeholder="Waterloo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="province">Province:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="province"
                                       name="province" placeholder="Ontario">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="country">Country:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="country" name="country"
                                       placeholder="Canada">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding:5px 20px;">
                        Cancel
                    </button>
                    <!-- <button type="button" class="btn btn-primary" style="padding:5px 20px;" onclick="window.location.href='/PerfectParty'">Add</button> -->
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{{ url_for('pages.add_client') }}" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="editname" name="name"
                                       placeholder="Feridun Hamdullahpur">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="address">Address:</label>
                            <div class="col-sm-10 form-inline">
                                <input type="text" required="required" class="form-control col-sm-3" id="edit-str-num"
                                       name="str-number" placeholder="Number">
                                <input type="text" required="required" class="form-control col-sm-7" id="edit-str-name"
                                       name="str-name" placeholder="Street">
                                <input type="text" class="form-control col-sm-2" id="edit-unit" name="unit"
                                       placeholder="Unit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="postal">Postal Code:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="edit-postal" name="postal"
                                       placeholder="N2L 3G1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="city">City:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="edit-city" name="city"
                                       placeholder="Waterloo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="province">Province:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="edit-province"
                                       name="province" placeholder="Ontario">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="country">Country:</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" class="form-control" id="edit-country" name="country"
                                       placeholder="Canada">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding:5px 20px;">
                        Cancel
                    </button>
                    <!-- <button type="button" class="btn btn-primary" style="padding:5px 20px;" onclick="window.location.href='/PerfectParty'">Add</button> -->
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block javascript %}
<!--datatable script-->
<script>
  $(document).ready(function() {
      var editable = 0;
      var row_data = 0;
      $('#client').DataTable( {
          "processing": true,
          "ajax": {url: "/PerfectParty/getClient",dataType:"json", dataSrc: "data", "contentType":"application/json"},
          "columns": [
              {data: "ClientName"},
              {data: "Address"},
              {data: "City"},
              {data: "Province"},
              {data: "Country"},
              {data: "PostalCode"}
          ],
      } );
      $("#client").css('cursor', 'pointer');
      var table = $('#client').DataTable();

      $('#client tbody').on( 'click', 'tr', function () {
          if ( $(this).hasClass('selected') ) {
              editable = 0;
              row_data = 0;
              $(this).removeClass('selected');
          }
          else {
              row_data = table.row( this ).data();
              table.$('tr.selected').removeClass('selected');
              $(this).addClass('selected');
              editable = 1
          }
      } );

      $('#button').click( function () {
          table.row('.selected').remove().draw( false );
      } );

       $('#editform').click(function() {
        if (editable == 0) {
            alert('Please select a entry to edit');
        }
        else {
            $('#edit').modal('show');
            document.getElementById('editname').value=row_data.ClientName;
            document.getElementById('edit-str-num').value=row_data.Address;
            document.getElementById('edit-str-name').value=row_data.Address;
            document.getElementById('edit-unit').value=row_data.Address;
            document.getElementById('edit-postal').value=row_data.PostalCode;
            document.getElementById('edit-city').value=row_data.City;
            document.getElementById('edit-province').value=row_data.Province;
            document.getElementById('edit-country').value=row_data.Country;
            }
        });
    });
</script>
{% endblock %}
