{% extends "layout.html" %}
{% block content %}
<h2 class="display-4">My Account</h2>
<hr>
<div class="row">
    <div class="toppad  pull-left col-md-offset-2 ">
    </div>
    <div class="col-xs-10 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
        <div class="panel panel-info">
            <div class="panel-body">
                <form  action="{{ url_for('pages.edit_account') }}" method="post">
                    <h5 class="display-5" style="color:#4682B4">Personal Information</h5>
                    <table class="table table-user-information">
                        <tr>
                            <th>Name:</th>
                            <td>{{result.name}}</td>
                            <input type="hidden" name="name" value="{{result.name}}" />
                            <input type="hidden" name="account_id" value="{{result.account_id}}"/>
                        </tr>
                        <tr>
                            <th>Date of Birth:</th>
                            <td>{{result.birthday}}</td>
                            <input type="hidden" name="birthday" value="{{result.birthday}}" />
                        </tr>
                        <tr>
                            <th>Gender:</th>
                            <td>{{result.gender}}</td>
                            <input type="hidden" name="gender" value="{{result.gender}}" />
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{result.address}}</td>
                            <input type="hidden" name="address" value="{{result.address}}" />
                        </tr>
                    </table>
                    <h5 class="display-5" style="color:#4682B4">Employment Information</h5>
                    <table class="table table-user-information">
                        <tr>
                            <th>Join Date:</th>
                            <td>{{result.join_date}}</td>
                            <input type="hidden" name="join_date" value="{{result.join_date}}" />
                        </tr>
                        <tr>
                            <th>Employee Position:</th>
                            <td>{{result.position}}</td>
                            <input type="hidden" name="position" value="{{result.position}}" />
                        </tr>
                    </table>
                    <h5 class="display-5" style="color:#4682B4">Contact Information</h5>
                    <table class="table table-user-information">
                        <tr>
                            <th>Mobile:</th>
                            <td>{{result.mobile_phone_number}}</td>
                            <input type="hidden" name="mobile_phone_number" value="{{result.mobile_phone_number}}" />
                        </tr>
                        <tr>
                            <th>Home:</th>
                            <td>{{result.home_phone_number}}</td>
                            <input type="hidden" name="home_phone_number" value="{{result.home_phone_number}}" />
                        </tr>
                        <tr>
                            <th>Emergency Contact Name:</th>
                            <td>{{result.emergency_contact_name}}</td>
                            <input type="hidden" name="emergency_contact_name" value="{{result.emergency_contact_name}}" />
                        </tr>
                        <tr>
                            <th>Emergency Contact Number:</th>
                            <td>{{result.emergency_contact_number}}</td>
                            <input type="hidden" name="emergency_contact_number" value="{{result.emergency_contact_number}}" />
                        </tr>
                    </table>
                    <input type="submit" class="btn btn-info"  style="width:140px" value="Edit"/>
                </form>
            </div>
        </div>
    </div>


    {% endblock %}
    {% block javascript %}
{% endblock %}
