{% extends "layout.html" %}
{% block content %}
<h2 class="display-4">Supplier</h2>
<hr>
<div class = "row"></div>
<div class="container-fluid">
  <table id="supplier" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Supplier ID</th>
        <th>Name</th>
        <th>Phone Number</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}
{% block javascript %}
<!--datatable script-->
<script>
$(document).ready(function() {
    $('#supplier').DataTable( {
        "processing": true,
        "ajax": {url: "/PerfectParty/getSupplier",dataType:"json", dataSrc: "data", "contentType":"application/json"},
        "columns": [
            {data: "Supplier ID"},
            {data: "Name"},
            {data: "Phone Number"}
        ],
    } );
    $("#supplier").css('cursor', 'pointer');
    var table = $('#supplier').DataTable();

    $('#supplier tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );

    $('#button').click( function () {
        table.row('.selected').remove().draw( false );
    } );
} );
$( window ).on( "load", setupData );
</script>
{% endblock %}
